---
layout: default
---

<div class="container-fluid index">
    <div class="row">


	{% for author in site.author-bios %}

	<div class="col-md-12 main content-panel">

            <div class="gravatar" style="padding-top: 10%;">
                 <img src="{{ author.image-src }}" class="img-circle about-image" height="150" width="150" alt="{{ author.name }}" />
            </div>

            <h1 class="header author-header" itemprop="headline"><a href="{{ author.url }}">{{ author.name }}</a></h1>

            <div class="author-text">
                {{ author.content | markdownify }}
            </div>

            {% include author_social_links.html %}
        </div>

	{% endfor %}  
	
    </div>
</div>
